{% unless page.previous %}
    {% assign prevClass = "disabled" %}
{% endunless %}

{% unless page.next%}
    {% assign nextClass = "disabled" %}
{% endunless %}

<nav>
    <ul class="pagination justify-content-center">
      <li class="page-item">
        <a class="page-link {{ prevClass }}" href="{{ page.previous.url }}">Previous</a>
      </li>

        {% for p in site.posts reversed %}
            {% unless p.categories == page.categories %}
                {% continue %}
            {% endunless %}

            {% if page.id == p.id %}
                {% assign thisClass = "active" %}
                {% assign href = "#" %}
            {% else %}
                {% assign thisClass = null %}
                {% assign href = p.url %}
            {% endif %}
        <li class="page-item {{ thisClass }}"><a class="page-link" href="{{ href }}">{{ forloop.index }}</a></li>
        {% endfor %}

      <li class="page-item">
        <a class="page-link {{ nextClass }}" href="{{ page.next.url }}">Next</a>
      </li>
    </ul>
  </nav>