---
---

@import "{{ site.theme }}";
@import "bootstrap-vars";
@import "bootstrap-5.3.0/scss/bootstrap.scss";

.page-header
{
	padding: 1rem 1rem;
}

.site-footer
{
        text-align: center;
}

.card p.card-text:last-of-type
{
        margin: 0;
}

.nav-link span
{
        text-align: right;
        flex-grow: 1;
}