---
---

@import "{{ site.theme }}";
@import "bootstrap-vars";
@import "bootstrap-5.3.0/scss/bootstrap.scss";

.page-header
{
	padding: 1rem 1rem;
}

.site-footer
{
    text-align: center;
}

.card p.card-text:last-of-type
{
    margin: 0;
}

.nav-link span
{
    text-align: right;
    flex-grow: 1;
}

#markdown-toc
{
    @extend .list-group;

    padding-top: var(--bs-list-group-item-padding-y);
    padding-bottom: var(--bs-list-group-item-padding-y);
    border: var(--bs-list-group-border-width) solid var(--bs-list-group-border-color);
    border-radius: var(--bs-border-radius);
    margin-bottom: 1rem;

    &, ul, ul ul, ul ul ul
    {
        @extend .list-group-flush;
        padding-left: var(--bs-list-group-item-padding-x);
        padding-right: var(--bs-list-group-item-padding-x);

        li {
            @extend .list-group-item;
            border: none;
            padding: 0;
        }
    }
}

.main-content .highlight pre, .main-content pre
{
    border-radius: var(--bs-border-radius);
}

.highlight
{
    background-color: transparent;

    & > pre
    {
        border-color: var(--bs-border-color);
    }
}

@include color-mode(dark) {
    code:not([data-lang]) {
        color: var(--bs-light) !important;
        background-color: var(--bs-light-bg-subtle) !important;
    }

    .social
    {
        filter: invert(0.75);
    }
}
