<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">

{% seo %}
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preload" href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap" as="style" type="text/css" crossorigin>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    {% include head-custom.html %}
  </head>
  <body>
    <a id="skip-to-content" href="#content">Skip to the content.</a>

    <header class="page-header" role="banner">
      <h1 class="project-name">{{ page.title | default: site.title | default: site.github.repository_name }}</h1>
      <h2 class="project-tagline">{{ page.description | default: site.description | default: site.github.project_tagline }}</h2>
    </header>

    <div class="container">
      <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
          <a class="navbar-brand" href="/">
            <img alt="Logo" width="32" height="24"/>
          </a>

          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggle">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarToggle">
            <ul class="navbar-nav">
              <li class="nav-item"><a class="nav-link d-flex d-lg-block" href="/"><span>Home</span></a></li>
              <li class="nav-item"><a class="nav-link d-flex d-lg-block" href="/about/"><span>About</span></a></li>
            </ul>

            <ul class="navbar-nav ms-auto">
              <li class="nav-item"><a class="nav-link d-flex d-lg-block" href="mailto:tylerduffus@gmail.com"><img class="ms-auto" alt="Email" src="/assets/img/email.svg" width="32" height="32" title="tylerduffus@gmail.com"/><span class="d-lg-none">tylerduffus@gmail.com</span></a></li>
              <li class="nav-item"><a class="nav-link d-flex d-lg-block" href="http://discordapp.com/users/gambit1337"><img class="ms-auto" alt="Discord" src="/assets/img/discord.svg" width="32" height="32" title="gambit1337"/><span class="d-lg-none">gambit1337</span></a></li>
              <li class="nav-item"><a class="nav-link d-flex d-lg-block" href="https://github.com/GamerGambit"><img class="ms-auto" alt="Github" src="/assets/img/github.svg" width="32" height="32" title="GamerGambit"/><span class="d-lg-none">GamerGambit</span></a></li>
            </ul>
          </div>
        </div>
      </nav>
    </div>

    <main id="content" class="main-content container" role="main">
      {{ content }}

      <footer class="site-footer">
        {% if site.github.is_project_page %}
          <span class="site-footer-credits d-block">&copy; {{ 'now' | date: "%Y" }} {{ site.author }}</span>
          <span class="site-footer-credits d-block">Powered by Jekyll & Cayman, hosted by Github Pages</span>
        {% endif %}
      </footer>
    </main>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js" integrity="sha384-fbbOQedDUMZZ5KreZpsbe1LCZPVmfTnH7ois6mU1QK+m14rQ1l2bGBq41eYeM/fS" crossorigin="anonymous"></script>
  </body>
</html>
